
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: grey;
}

#heading {
    color: white;
    font-size: 1.5rem;
    text-decoration: underline;
    padding: 10px;
    margin: 30px;
}

#heading-div {
    background-color: #2a2a2a;
    height: 50px;
    width: 95vw;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    
}

h2 {
    color: white;
    font-size: 1.4rem;
    padding: 10px;
}

.cards-div {
    background-color: #2a2a2a;
    width: 95vw;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

img {
    height: 160px;
    width: 110px;
    margin: 5px;
}

#hit-button {
    height: 40px;
    width: 120px;
    margin: 14px;
    font-size: 1.25rem;
}

#stand-button {
    height: 40px;
    width: 120px;
    margin: 14px;
    font-size: 1.25rem;
}

#new-game-button {
    height: 40px;
    width: 120px;
    margin: 14px;
    font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
    #heading-div {
        height: 75px;
        width: 80vw;
    }
    #heading {
        font-size: 2rem;
        padding: 15px 0 10px 0;
        margin: 40px;
    }
    .cards-div {
        width: 80vw;
    }
    h2 {
        font-size: 1.8rem;
        padding: 10px;
    }
    img {
        height: 180px;
        width: 120px;
        padding: 5px;
    }
    .stand-button {
        height: 40px;
        width: 120px;
        font-size: 1.8rem;
        margin: 40px;
    } 
    .hit-button {
        height: 40px;
        width: 120px;
        font-size: 1.8rem;
        margin: 40px;
    }
    #new-game-button {
        height: 40px;
        width: 120px;
        font-size: 1.2rem;
        margin: 20px;
    } 
}

@media screen and (min-width: 1024px) {
    #heading-div {
        height: 75px;
        width: 80vw;
    }
    #heading {
        font-size: 2rem;
        padding: 15px 0 10px 0;
        margin: 40px;
    }
    .cards-div {
        width: 650px;
        height: 425px;
    }
    .cards-div h2 {
        font-size: 3.25rem;
    }
    img {
        height: 180px;
        width: 120px;
        padding: 5px;
    }
    .stand-button {
        margin-top: 30px;
        width: 220px;
    }
    .hit-button {
        margin-top: 30px;
        width: 220px;
    }
}