/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    text-align: center;
    background-color: grey;
}

#heading {
    color: white;
    font-size: 2rem;
    text-decoration: underline;
    padding: 5px;
    margin: 30px;
}

#heading-div {
    background-color: #2a2a2a;
    height: 50px;
    width: 95vw;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;

}

/* Win or lose popup message */
#win-or-lose {
    color: black;
    font-size: 1.2rem;
}

/* All h2 headings */
h2 {
    color: white;
    font-size: 1.4rem;
    padding: 10px;
}

#dealer-cards-div {
    background-color: #2a2a2a;
    width: 95vw;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#player-cards-div {
    background-color: #2a2a2a;
    width: 95vw;
    margin: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* All card images */
img {
    height: 160px;
    width: 110px;
    margin: 5px;
}

/* Styling for buttons */
#hit-button {
    height: 40px;
    width: 120px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

#stand-button {
    height: 40px;
    width: 120px;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
}

/* Media query: tablets (768px and up) */
@media screen and (min-width: 768px) {
    #heading {
        font-size: 2rem;
        padding: 15px 0 10px 0;
        margin: 40px;
    }

    #heading-div {
        height: 75px;
        width: 80vw;
    }

    /* Win or lose popup message */
    #win-or-lose {
        font-size: 1.4rem;
    }

    /* All h2 headings */
    h2 {
        font-size: 1.8rem;
        padding: 10px;
    }

    #dealer-cards-div {
        width: 80vw;
    }

    #player-cards-div {
        width: 80vw;
    }

    /* All card images */
    img {
        height: 180px;
        width: 120px;
        padding: 5px;
    }

    /* Hit and stand buttons */
    #hit-button {
        height: 40px;
        width: 120px;
        font-size: 1.6rem;
        border-radius: 5px;
        box-shadow: 3px 3px 3px black;
    }

    #stand-button {
        height: 40px;
        width: 120px;
        font-size: 1.6rem;
        border-radius: 5px;
        box-shadow: 3px 3px 3px black;
    }
}

/* Media query: laptops (1024px and up) */
@media screen and (min-width: 1024px) {
    #heading {
        font-size: 2.5rem;
        padding: 15px 0 10px 0;
        margin: 40px;
    }

    #heading-div {
        height: 75px;
        width: 75vw;
    }

    /* Win or lose popup message */
    #win-or-lose {
        font-size: 1.6rem;
    }

    /* All h2 headings */
    h2 {
        font-size: 2rem;
        padding: 10px;
    }

    #dealer-cards-div {
        width: 75vw;
    }

    #player-cards-div {
        width: 75vw;
    }

    /* All card images */
    img {
        height: 180px;
        width: 120px;
        padding: 5px;
    }

    /* Hit and stand buttons */
    #hit-button {
        height: 50px;
        width: 120px;
        font-size: 1.6rem;
        border-radius: 5px;
        box-shadow: 3px 3px 3px black;
    }

    #stand-button {
        height: 50px;
        width: 120px;
        font-size: 1.6rem;
        border-radius: 5px;
        box-shadow: 3px 3px 3px black;
    }
}